@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import components.back_link

@(appConfig: FrontendAppConfig, form: Form[_])(implicit request: Request[_], messages: Messages)

@MainTemplate(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @back_link()

    @helpers.form(action = $className$Controller.onSubmit(), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_yes_no(
            field = form("value"),
            label = messages("$className;format="decap"$.heading"),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
