

@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLayout
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcReportTechnicalIssue

@this(
    hmrcLayout: HmrcLayout,
    appConfig: config.FrontendAppConfig,
    hmrcReportTechnicalIssue: HmrcReportTechnicalIssue,
)

@(pageTitle: String, backLinkEnabled: Boolean = true)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages)

@headBlock = {
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/employmentexpensestaxreliefguidancefrontend-app.css")'/>
}

@content = {
    @contentBlock
    @hmrcReportTechnicalIssue(ReportTechnicalIssue(
        serviceId = appConfig.contactFormServiceIdentifier,
        language = if(messages.lang.code == "cy") Cy else En,
        baseUrl = Some(appConfig.contactHost)
    ))
}

@hmrcLayout(
    pageTitle = Some(s"$pageTitle – ${messages("service.name")} – ${messages("site.gov.uk")}"),
    isWelshTranslationAvailable = true,
    serviceUrl = Some(routes.IndexController.onPageLoad.url),
    backLink = if(backLinkEnabled){ Some(BackLink(
        href = "javascript:history.back()",
        content = Text(messages("site.back")),
        attributes = Map("id" -> "back-link")
    )) } else None,
    additionalHeadBlock = Some(headBlock),
    additionalScriptsBlock = None,
    signOutUrl = None,
    phaseBanner = None
)(content)